UseDNS no
Protocol 2
SyslogFacility AUTHPRIV
PermitRootLogin no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
Subsystem	sftp	/usr/lib/openssh/sftp-server

Match User tilde
  PermitEmptyPasswords yes
